<!doctype html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restock Medicines</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container">
    <div class="text-center my-4">
        <h2>Restock Medicines</h2>
    </div>
    <div class="row justify-content-center">
        <div class="card" style="width: 60rem;">
            <div class="card-body">

                <form  method="post" th:action="@{/medicine/restock}" th:object="${restockMultipleDTO}">
                    <div class="d-flex justify-content-end gap-2">
                        <button class="btn btn-primary" type="submit" name="addRow">Add Row</button>
                        <button class="btn btn-danger" type="submit" name="cancelAll">Cancel All</button>
                    </div>
                    <div class="form-group column my-3">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Medicine</th>
                                <th>Stock Amount</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="restockDTO, iterationStatus : *{listRestockDTO}">
                                <td>
                                    <select th:field="*{listRestockDTO[__${iterationStatus.index}__].medicineId}" class="form-select">
                                        <option th:each="medicineExisting : ${listMedicineExisting}"
                                                th:text="${medicineExisting.getName()}"
                                                th:value="${medicineExisting.getId()}"></option>
                                    </select>
                                </td>
                                <td>
                                    <input class="form-control" type="number" th:field="*{listRestockDTO[__${iterationStatus.index}__].qty}">
                                    <div class="text-danger" th:if="${#fields.hasErrors('listRestockDTO[' + iterationStatus.index + '].qty')}" th:errors="*{listRestockDTO[__${iterationStatus.index}__].qty}"></div>
                                </td>
                                <td>
                                    <button th:value="${iterationStatus.index}" class="btn btn-danger"
                                            type="submit" name="deleteRow">Delete Row</button>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                        <div class="text-danger" th:if="${#fields.hasErrors('listRestockDTO')}" th:errors="*{listRestockDTO}"></div>

                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>