<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <title>Update Stock</title>
</head>

<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container">
    <div class="text-center my-4">
        <h2>Update Stock</h2>
    </div>
    <div class="row justify-content-center">
        <div class="card" style="width: 60rem;">
            <div class="card-body">
                <div>
                    <form th:action="@{'/medicine/' + ${restockDTO.getMedicineId()} + '/update-stock' }" th:object="${restockDTO}" method="POST">
                        <div class="row my-3">
                            <p class="col-sm-2 fw-bold col-form-label">ID</p>
                            <p class="col-sm-1 fw-bold col-form-label" style="width: 2%">:</p>
                            <div class="col-sm-9">
                                <p th:text="${medicine.getId()}"></p>
                            </div>
                        </div>

                        <div class="row my-3">
                            <p class="col-sm-2 fw-bold col-form-label">Name</p>
                            <p class="col-sm-1 fw-bold col-form-label" style="width: 2%">:</p>
                            <div class="col-sm-9">
                                <p th:text="${medicine.getName()}"></p>
                            </div>
                        </div>

                        <div class="row my-3">
                            <p class="col-sm-2 fw-bold col-form-label">Current Stock</p>
                            <p class="col-sm-1 fw-bold col-form-label" style="width: 2%">:</p>
                            <div class="col-sm-9">
                                <p th:text="${medicine.getStock()}"></p>
                            </div>
                        </div>

                        <div class="form-group row my-3">
                            <label for="stock" class="col-sm-2 fw-bold col-form-label">Added Stock</label>
                            <p class="col-sm-1 fw-bold col-form-label" style="width: 2%">:</p>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" th:field="*{medicineId}" style="display: none">
                                <input class="form-control" type="number" id="stock" th:field="*{qty}">
                            </div>
                        </div>

                        <div class="text-center m-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a class="btn btn-primary" href="/">Home</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>