<!doctype html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prescription Detail</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container">
    <div class="text-center my-4">
        <h2>Prescription Detail</h2>
    </div>
    <div class="row justify-content-center">
        <div class="card" style="width: 70rem;">
            <div class="card-header d-flex flex-row justify-content-between align-items-center">
                <div class="d-flex flex-row gap-3">
                    <h5>Prescription Detail</h5>
                    <span th:if="${prescription.getStatus() == 0}">Created</span>
                    <span th:if="${prescription.getStatus() == 1}">Waiting for Stock</span>
                    <span th:if="${prescription.getStatus() == 2}">Done</span>
                    <span th:if="${prescription.getStatus() == 3}">Cancelled</span>
                </div>
                <div class="d-flex flex-row gap-2">
                    <a th:href="@{|/prescription/${prescription.getId()}/mark-done|}" class="btn btn-outline-dark">Mark as Done</a>
                    <a th:href="@{|/prescription/${prescription.getId()}/update|}" class="btn btn-warning">Update</a>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                </div>

            </div>
            <div class="card-body">
                <div class="row my-3">
                    <p class="card-text fw-bold col-sm-3">ID</p>
                    <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                    <p class="card-text col-sm-8" th:text="${prescription.getId()}"></p>
                </div>

                <div class="row my-3">
                    <p class="card-text fw-bold col-sm-3">Patient</p>
                    <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                    <p class="card-text col-sm-8" th:text="${prescription.getPatient().getName()}"></p>
                </div>


                <div class="row my-3">
                    <p class="card-text fw-bold col-sm-3">Created at</p>
                    <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                    <p class="card-text col-sm-8" th:text="${prescription.formatDate(prescription.getCreatedDate())}"></p>
                </div>

                <div class="row my-3">
                    <p class="card-text fw-bold col-sm-3">Created by</p>
                    <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                    <p class="card-text col-sm-8" th:text="${prescription.getCreatedBy()}"></p>
                </div>

                <div class="row my-3">
                    <p class="card-text fw-bold col-sm-3">Processed By</p>
                    <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                    <p class="card-text col-sm-8" th:if="${prescription.getPharmacist() == null}">-</p>
                    <p class="card-text col-sm-8" th:if="${prescription.getPharmacist() != null}" th:text="${prescription.getPharmacist().getName()}"></p>
                </div>

                <div class="row my-3">
                    <p class="card-text fw-bold col-sm-3">Total Price</p>
                    <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                    <p class="card-text col-sm-8" th:text="${prescription.formatRupiah(prescription.getTotalPrice())}"></p>
                </div>

                <div class="row my-3">
                    <p class="card-text fw-bold col-sm-3">Updated At</p>
                    <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                    <p class="card-text col-sm-8" th:text="${prescription.formatDate(prescription.getUpdatedDate())}"></p>
                </div>

                <div class="row my-3">
                    <p class="card-text fw-bold col-sm-3">Updated By</p>
                    <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                    <p class="card-text col-sm-8" th:text="${prescription.getUpdatedBy()}"></p>
                </div>

                <h5 class="fw-bold mt-4">Medicine List</h5>
                <table class="table table-striped table-bordered table-custom">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Medicine ID</th>
                            <th>Medicine Name</th>
                            <th>Requested Quantity</th>
                            <th>Fulfilled Quantity</th>
                            <th>Price per Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="mq, iter : ${listMedicineQuantity}">
                            <td th:text="${iter.index}"></td>
                            <td>
                                <a th:href="@{|/medicine/${mq.medicineId}|}" th:text="${mq.medicineId}"></a>
                            </td>
                            <td th:text="${listMedicine[__${iter.index}__].name}"></td>
                            <td th:text="${mq.quantity}"></td>
                            <td th:text="${mq.fulfilledQty}"></td>
                            <td th:text="${listMedicine[__${iter.index}__].price}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5>Are you sure you want to delete this prescription?</h5>
                <div class="d-flex justify-content-center mt-3 gap-2">
                    <form th:action="@{|/prescription/${prescription.getId()}/delete|}">
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </form>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>